<!DOCTYPE html>
<html lang="en">
  <%- include('../../components/header') %>
  <body>
    <% if(dataTokenJWT){ %> <%- include('../../components/navbar_user') %> <%
    }else{ %> <%- include('../../components/navbar') %> <% } %>

    <div class="container justify-center mx-auto mt-8 px-8">
      <div
        class="mx-auto mt-8 w-full max-w-container px-4 sm:px-6 lg:px-8 text-center mb-2"
      >
        <h2>USERS</h2>
      </div>
      <div class="w-full">
        <div class="border-b border-gray-200 shadow">
          <div class="px-6 mb-1 pt-4 text-right">
            <a
              class="px-4 py-1 text-sm text-white bg-yellow-400 rounded"
              href="/users/create"
              >+ CREATE</a
            >
          </div>
          <form action="/users" class="px-6 mb-4 overflow-x-auto">
            <div class="flex items-center justify-center">
              <div class="flex border-2 border-gray-200 rounded">
                <input
                  type="text"
                  class="px-4 py-1 w-96"
                  placeholder="Search..."
                  id="keyword"
                  name="keyword"
                />
                <button
                  class="flex items-center justify-center px-4 border-l"
                  type="submit"
                >
                  <svg
                    class="w-6 h-6 text-gray-600"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <div class="overflow-x-auto">
            <table class="container">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-2 text-xs text-gray-500">Name</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Email</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Edit</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Delete</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <% if(users.length > 0){ %> <% users.forEach((user) => { %>
                <tr class="whitespace-nowrap">
                  <td class="px-6 py-4 text-center">
                    <div class="text-sm text-gray-900">
                      <%=user.name.toUpperCase() %>
                    </div>
                  </td>
                  <td class="px-6 py-4 text-center">
                    <div class="text-sm text-gray-500"><%=user.email %></div>
                  </td>
                  <td class="px-6 py-4 text-center">
                    <a
                      href="/users/show/<%=user.id%>"
                      class="px-4 py-1 text-sm text-white bg-blue-400 rounded"
                      >Edit</a
                    >
                  </td>
                  <td class="px-6 py-4 text-center">
                    <a
                      href="/delete/<%=user.id%>"
                      onclick="return confirm('Are you sure want to delete?')"
                      class="px-4 py-1 text-sm text-white bg-red-400 rounded"
                      >Delete</a
                    >
                  </td>
                </tr>
                <% }) %> <% }else{ %>
                <tr class="whitespace-nowrap">
                  <td class="px-6 py-4">
                    <div class="text-sm text-gray-900">Data empty</div>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <p class="px-6 mb-2 text-right">Total data <%=users.length%></p>
        </div>
      </div>
    </div>
    <%- include('../../components/footer') %>
  </body>
</html>
